body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(171, 201, 235);


}

.forms{
    display: flex;
   flex-direction: row;
   align-items: center;   
   font-size: medium;
   background-color: rgb(171, 201, 235);

}

.container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: rgb(145, 171, 211);

}
.card {
    display: flex;
    flex-direction: column;
    position: relative;
   height: 400px;
    width: 25%;
    background-color: rgb(171, 201, 235);
    margin: 2%;
    padding: 2%;
    box-shadow: 10px 5px 5px rgb(85, 101, 126);
    overflow: hidden;
    transition: all 0.3s;
    transition-duration: 5ms;
}

