body,
html,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#d9dcd6;
    font-family: 'Montserrat', sans-serif;
    font-size:large ;
    font-weight: 900;
}

.forms{
    display: flex;    
   flex-direction: row;
    justify-content: center;  
    font-size: medium;
}

h2{
    background-color: #598392;
    color: #01161e;
}
.container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.card {
    display: flex;
    flex-direction: column;
    position: relative;
   height: 500px;
    width: 27%;
    background-color: #598392;
    margin: 2%;
    padding: 2%;
    box-shadow: #000000;   
    overflow: scroll;
    transition: all 0.3s;
    transition-duration: 5ms;
    border-radius: 30px;
}

.button{
    background-color: #124559;
    color: #01161e;
}