body,
html,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:EDF6F9;
    font-family: 'Montserrat', sans-serif;
    font-size:large ;
    font-weight: 900;
}

.forms{
    display: flex;
   flex-direction: row;
   align-items: center;   
   font-size: medium;
color
}

h2{
    background-color: 98c1d9;
    color: 293241;
}
.container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.card {
    display: flex;
    flex-direction: column;
    position: relative;
   height: 350px;
    width: 20%;
    background-color: 98c1d9;
    margin: 2%;
    padding: 2%;
    box-shadow: 10px 5px 5px 3d5a80;
    overflow: hidden;
    transition: all 0.3s;
    transition-duration: 5ms;
    border-radius: 30px;
}

.btn{
    background-color: 83C5BE;
}